* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header {
    width: 80%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.headerIzquerdo, .headerCentral, .headerDerecho {
    width: 33.5%;
    height: 60px;;
}
.headerCentral {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerIzquerdo {
    display: flex;
    justify-content:flex-start;
    align-items: center;

}
.iconoMenu {
    margin-left: 20px;
    width: 7%; 
    display: none;   
}
.headerDerecho {
    display: flex;
    justify-content:flex-end;
    align-items: center;

}
.bolsitaCompras {
    margin-right: 20px;
    width: 7%;    
}
h1 {
    font-size: 2.8em;
    color: white;
}
.contenedor {
    border: 2px solid black;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cards {
    border: 2px solid white;
    box-shadow: 1px 1px 9px black;
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    background-color:azure;
}
span {
    display: none;
}
.cards img {
    width: 90%;
}
p, img, select, button {
    margin-top: 2%;
}
button, select {
    padding: 7px;
}
button {
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
}
button:hover {
    background-color: grey;
}
footer {
        width: 80%;
        height: 60px;
        background-color: rgb(51, 50, 50);
        display: flex;
        justify-content: center;
        align-items: center;
}
@media (max-width: 680px) {
    .contenedor {
        flex-direction: column;
    }
    .cards {
        width: 80%;
    }
    h1 {
        font-size: 1.4em;
    }
    .iconoMenu {
        display: inline-block;
    }
}